body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	box-sizing: border-box;
	overflow: visible;
	/* */
	background-size: contain;
	background-position: top;
	background-image: url("../assets/joker.jpg");
	/* background-blend-mode: lighten;
	background-color: mediumpurple; */
	background-blend-mode: saturation;
	background-color: #2e0066;
}

h2 {
	font-size: 1.3rem;
}

header,
main {
	max-width: 768px;
}

#outlet p:before {
	content: "🃏";
	font-size: 2rem;
	font-style: normal;
	transform: rotateZ(-25deg);
	position: absolute;
	top: 1rem;
	left: 1rem;
}

#outlet p:after {
	content: "🃏";
	font-size: 2rem;
	font-style: normal;
	transform: rotateZ(25deg);
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

@media screen and (min-width: 768px) {
	.card {
		max-width: 60%;
	}
}

/* custom CSS */
.text-purple {
	color: mediumpurple;
}

.text-darkslateblue {
	color: darkslateblue;
}

.bg-purple {
	background-color: mediumpurple;
}

.bg-rebeccapurple {
	background-color: rebeccapurple;
}

.border-purple {
	border-color: mediumpurple !important;
}

.border-darkgray {
	border-color: darkgray !important;
}

.btn:focus {
	box-shadow: none;
}

.btn-outline-purple {
	color: mediumpurple;
	border-color: mediumpurple;
}
.btn-outline-purple:hover {
	color: darkslateblue;
	color: gainsboro;
	border-color: mediumpurple;
	background-color: mediumpurple;
}
.btn-outline-purple:active {
	color: gainsboro;
	color: darkslateblue;
}

/* dynamic class */
.progress-bar {
	width: 0%;
}

.download-10 {
	width: 10% !important;
}
.download-25 {
	width: 25% !important;
}
.download-75 {
	width: 75% !important;
}
.download-100 {
	width: 100% !important;
}
